repos:
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    - id: black
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    - id: flake8
      additional_dependencies: [-e, 'git+https://github.com/pycqa/pyflakes#egg=pyflakes', -e, 'git+https://github.com/pycqa/pycodestyle#egg=pycodestyle']