[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
notebook = "*"

[packages]
requests = "*"
markdown = "*"
markdownsuperscript = "*"
markdownsubscript = "*"
markdown-urlize = "*"
markdown-emdash = "*"

[requires]
python_version = "3.8"
